site_name: "Site de Documentation GPGEOM"

theme:
  name: material
  palette:
    - scheme: default
      primary: teal
      accent: light green
    - scheme: slate
      primary: green
      accent: lime
  features:
    - navigation.tabs
    - navigation.sections
    - content.code.copy
