site_name: "Site de Documentation GPGEOM"

theme:
  name: material
  palette:
    - scheme: default
      primary: light green
      accent: pink
  features:
    - navigation.tabs
    - navigation.sections
    - content.code.copy
